/* Repository List Styles */
.repository-list {
  width: 100%;
  text-align: center;
}

.repository-list h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.repository-list-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
  margin: 0;
}
